---
Language: Cpp
BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackParameters: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
ColumnLimit: 200
FixNamespaceComments: false
IndentExternBlock: Indent
IndentGotoLabels: false
IndentWidth: 4
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 3
  DecimalMinDigits: 7
  Hex: -1
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
IndentAccessModifiers: false
